<p>
  <strong>Date:</strong>
  <%= @work_log.date %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @work_log.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @work_log.end_time %>
</p>

<p>
  <strong>User:</strong>
  <%= @work_log.user %>
</p>

<%= link_to 'Edit', edit_work_log_path(@work_log) %> |
<%= link_to 'Back', work_logs_path %>
